/*
// CSS source for Awesome Foundation information visualization project
// http://www.awesomefoundation.org
// http://github.com/nkkl/awesomeviz
*/

html {}

body {
	font-family: sans-serif;
}

#wrapper {
	width: 1000px;
	height: 100%;
	margin: auto;
	overflow: hidden;
	position: relative;
}

#titling {
	width: 100%;
	height: 50px;
}

#map {
	float: left;
	width: 450px;
	height: 560px;
	margin: auto;
	background: url("../img/northAmerica.png") no-repeat center top;
}

#canvas {
	float: right;
	width: 500px;
	height: 550px;
	margin: auto;
}

#grantDesc {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 500px;
	height: 85px;
	padding: 0;
}