/*
// CSS source for Awesome Foundation information visualization project
// http://www.awesomefoundation.org
// http://github.com/nkkl/awesomeviz
*/

html {}

body {}

#wrapper {
	width: 1000px;
	height: 100%;
	margin: auto;
	overflow: hidden;
}

#map {
	float: left;
	width: 450px;
	height: 550px;
	margin: auto;
	background: url("../img/northAmerica.png") no-repeat center top;
}

#canvas {
	float: right;
	width: 500px;
	height: 550px;
	margin: auto;
}