/*
// CSS source for Awesome Foundation information visualization project
// http://www.awesomefoundation.org
// http://github.com/nkkl/awesomeviz
*/

html {}

body {}

#canvas {
	width: 800px;
	height: 400px;
	margin: auto;
	border: 1px solid black;
}